<!DOCTYPE html>
<html>
<head>
  <title>ActionSmser</title>
  <%= stylesheet_link_tag    "action_smser/application" %>
  <%= javascript_include_tag "action_smser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
