<!DOCTYPE html>
<html>
<head>
  <title>ActionSmser</title>
  <%#= stylesheet_link_tag    "action_smser/application" %>
  <%#= javascript_include_tag "action_smser/application" %>
  <%= csrf_meta_tags %>

  <STYLE type="text/css">
    table {
      border:  1px solid gray;
      border-collapse:collapse;

    }
    th, td {
      border:  1px solid gray;
      padding: 1px 10px 1px 3px;
    }

    h1 { margin-top: 40px; }
    h2 { margin-top: 40px; }

    body, div {
      color: #444;
      font-size: 12px;
      line-height: 150%;
      line-height: 130%;
      font-family: Helvetica, Arial, sans-serif;

    }
    hr { margin-top: 20px; margin-bottom: 10px; }
    
  </STYLE>

</head>
<body class="delivery_reports_layout">

<h1>ActionSmser infos</h1>

Back to <%= link_to 'Main application', '/' %>

<hr>

<%= yield %>


<hr>
<p>
  Stats by ActionSmser gem, see homepage: <%= link_to 'https://github.com/holli/action_smser', 'https://github.com/holli/action_smser' %>
</p>

<p style="margin-top: 400px"></p>


</body>
</html>
